# Datos — no subir al repo
data/
outputs/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
